apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: openclaw
resources:
  - namespace.yaml
  - secret.yaml
  - service.yaml
  - deployment.yaml
  - ingressroute.yaml
  - storage.yaml
