apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      version: "39.x"
  interval: 1h
  install:
    crds: CreateReplace
  values:
    service:
      type: LoadBalancer
    ports:
      web:
        port: 80
      websecure:
        port: 443
