apiVersion: v1
kind: Service
metadata:
  name: linkding
  namespace: linkding
spec:
  type: ClusterIP
  ports:
    - port: 443
      targetPort: 9090 # The port your app actually runs on
      protocol: TCP
      name: https
  selector:
    app: linkding
